.sectionContenido {
    float: left;
    margin-top: 30px;
    width: 60%;
    height: 700px;
    margin-left: 4%;
    margin-bottom: 10px;
}

body{
    background-image: url(https://cdn2.f-cdn.com/contestentries/1108779/25763747/5995bb343b3c7_thumb900.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
}

ul > li > a, #titulo {
    color: white !important;
}

#botones {
    margin-top: 20px;
    float: left;
    height: 50px;
    margin-left: 35%;
}

input{
    margin-left: 50px;
    text-align: center;
    font-size: large;
}

#canvas{
    margin-left: 25%;
    float: left;
    width: 600px;
    height: 600px;
    border: 1px solid white;
}
