.sectionContenido {
    float: left;
    margin-top: 30px;
    width: 60%;
    margin-left: 4%;
    margin-bottom: 10px;
}

body{
    background-image: url(https://img.freepik.com/vector-gratis/banner-tecnologia-digital-seguridad-abstracta_43778-449.jpg?size=626&ext=jpg);
    background-size: 110%;
    background-repeat: no-repeat;
}

ul > li > a, #titulo {
    color: white !important;
}

#galeria {
    margin-left: 10%;
    float: left;
    width: 800px;
    height: 300px;
}

#botones {
    margin-top: 20px;
    float: left;
    height: 50px;
    margin-left: 35%;
}

input{
    margin-left: 50px;
    text-align: center;
    font-size: large;
}


